<?xml version="1.0" encoding="utf-8"?>
<!-- 让 macrobenchmark 能对 debug 包取帧统计（不用为了测量去装 release 包、丢数据） -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <profileable
            android:shell="true"
            tools:targetApi="q" />
    </application>
</manifest>
